<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxia.blog.mapper.CategoryMapper">
	<select id="selectCategoryByUserName" resultMap="categoryList">
		select c1.categoryId pId,c1.categoryName pName,c1.categoryDescription pDescription,
		 c2.categoryId cId,c2.categoryName cName,c2.categoryDescription cDescription
		from category c1 LEFT JOIN category c2 on 
		 c1.categoryId=c2.categoryPid  
		where c1.categoryUserName=#{userName} and c1.categoryPid=0
	</select>
	<resultMap type="Category" id="categoryList">
		<id property="categoryId" column="pId"/>
		<result property="categoryName" column="pName"/>
		<result property="categoryDescription" column="pDescription"/>
		<collection property="childCategoryList" ofType="Category" javaType="java.util.List">
			<id property="categoryId" column="cId"/>
			<result property="categoryName" column="cName"/>
			<result property="categoryDescription" column="cDescription"/>
		</collection>
	</resultMap>
</mapper>