<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxia.blog.mapper.CommentMapper">
	<select id="selectCommentByUserName" resultType="Comment">
		select c.*,a.articleTitle commentArticleTitle  
		from comment c,article a 
		where c.commentArticleId=a.articleId
		and a.articleUserName=#{userName}
		and c.commentStatus=1 and a.articleStatus=1
	</select>
	<delete id="delCommentById" >
		delete 
		from comment
		where commentId=#{commentId}
	</delete>
	<delete id="delCommentByArticleId">
		delete
		from comment
		where commentArticleId=#{articleId}
	</delete>
	<select id="selectCommentArticleId" resultType="Comment">
		select * from comment
		where commentArticleId=#{articleId}
	</select>
	<insert id="insertComment">
		insert into comment(commentArticleId,commentAuthorName,commentAuthorEmail,commentContent,commenIp,commentCreateTime)
		values(#{articleId},#{commentAuthorName},#{commentAuthorEmail},#{commentContent},#{commenIp},#{commentCreateTime})
	</insert>
</mapper>